* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: center;
}

.nav {
    margin-top: 2em;
    width: 100%;
}

.ul {
    display: flex;
    justify-content: space-evenly;
}

.li {
    list-style-type: none;
}

.a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

main {
    margin-top: 4em;
}

.article {
    border: 2px solid #000;
    margin-top: 2em;
    padding: 2em;
}

.paragraphe-article {
    display: block;
}

footer {
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #c6c6c6;
}